{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bg-secondary-subtle">

    <div class="pt-2 pb-2"></div>

    <div class="container bg-light mt-1 mb-1 border border-2 shadow">
        <div class="row pt-2 pb-2 justify-content-center">

            <div class="row justify-content-center">
                <div class="col-12">
                    <form class="d-flex" role="search" method="get" action="{% url "search" %}">
                        <input class="form-control me-2" type="search" placeholder="Buscar Tarefa..."
                            aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>

                <div class="text-center pt-3">
                    <a href="{% url "create_task" %}" class="btn btn-outline-primary">Criar Task</a>
                </div>

                {% for task in page_obj %}
                    <section class="col-12 col-lg-6 text-center mt-3 mb-3">
                        {% if task.status == 'finalizado' %}
                            <h2 class="text-success">{{ task.title }}</h2>
                        {% else %}
                            <h2 class="text-danger">{{ task.title }}</h2>
                        {% endif %}
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{ task.slug }}">Sobre a tarefa</button>
                        </p>
                        <div class="collapse multi-collapse" id="{{ task.slug }}">
                            <div class="card card-body">
                                <h2>Resumo</h2>
                                <p>{{ task.task_text }}</p>
                                <h3>Criado em</h3>
                                <p>{{ task.created_at }}</p>
                                <h3>Terminar em</h3>
                                <p>{{ task.end_in }}</p>

                                <div class="row justify-content-evenly">
                                    <div class="col-6">
                                        <a href="{% url "edit_task" task.slug %}" class="btn btn-primary">Editar</a>
                                    </div>
                                    <form action="{% url "delete_task" task.id %}" method="post" class="col-6">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Deletar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}

                <nav class="text-center">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <a class="page-link disabled" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>
                        <li class="page-item"><a class="page-link disabled" href="#">{{ page_obj.number }}</a></li>
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <a class="page-link disabled" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <div class="pt-2 pb-2"></div>
    
{% endblock content %}