{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container h-100">
        <div class="h-100 row align-items-center justify-content-center">
            <div class="col-10 col-sm-8 col-lg-5 col-xl-4 bg-light border border-1 pt-3 pb-3 rounded-4">

                <h1 class="text-center">Login</h1>

                {{ form.email.errors }}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}

                <form action="{% url "login_view" %}" method="post" class="row justify-content-center">
                    {% csrf_token %}

                    <div class="col-12 mb-2 mt-2">
                        {{ form.email }}
                    </div>

                    <div class="col-12 mt-2 mb-2">
                        {{ form.password }}
                    </div>

                    <button type="submit" class="col-5 col-sm-4 col-lg-3 btn btn-primary mt-2">Entrar</button>
                </form>

                <div class="text-center pt-3">
                    Não possui conta?
                    <a href="{% url "register" %}">Cadastre-se!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}