{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" class="h-100">
<head>
    {% include "partials/_head.html" %}
</head>
<body class="h-100 bg-primary">

    {% if user.is_authenticated %}
        {% include "partials/_header.html" %}
    {% endif %}

    {% block content %}{% endblock content %}

    {% if user.is_authenticated %}
        {% include "partials/_footer.html" %}
    {% endif %}

    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
</body>

</html>